/* 余計な空白をリセットするためです */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}
.backImg {
  background-image: url(img/Freeks-backimg.png);
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
  background-color: rgba(0, 255, 255, 0.603);
  padding: 0 50px;
  width: 100%;
  height: 80px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.075);
  transition: all 0.6s ease;
}

.header.move-up {
  transform: translateY(-100px);
  transition: all 0.3s ease;
}
.slider img {
  width: 100%;
  height: 100vh;
}
ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.comment{
  width: 40%;
  position: relative;
  bottom: 400px;
  right: -500px;
  background-color: rgba(255, 255, 255, 0.198);
  border-radius: 30px;
  height: 150px;
}
.comment p{
  padding: 20px;
  height: 100px;
  color: white;
  font-size: 40px;
  letter-spacing: 4px;
}

/* ここから、2列に並んでいるセクション↓ */

.main{
  width: 90%;
  margin: 150px auto;
}

.main h1 {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.container {
  width: 100%;
  margin: 0 auto;
  background-size: cover;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}

.item {
  width: 30%;
  height: 250px;
  margin: 10px 8px;
  transition: all 1s ease;
}

.item:hover {
  box-shadow: 0 0 5px gray;
  background-color: rgba(127, 255, 212, 0.397);
}

.contents img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

/* ここから、左右に振り分けているセクション↓ */
.lang {
  display: flex;
  margin-bottom: 60px;
}

.lang:nth-child(odd) {
  flex-direction: row-reverse;
}

.desc{
  width: 80%;
  margin: 0 auto;
}

.desc h1 {
  text-align: center;
  margin-top: 60px;
}

.lang img:nth-child(odd) {
  margin-right: 45px;
}

.lang p:nth-child(even) {
  margin-right: 45px;
}

/* ここから、動画を埋め込んでいるセクション↓ */
.movies {
  display: flex;
  justify-content: space-between;
}

.movies p {
  width: 100%;
}

.movie_section {
  border: solid 1px gray;
  padding: 10px 30px;
  background-color: white;
}

.movie_section h1 {
  text-align: center;
}

/* ここからslider */

.slider i.fas {
  color: rgba(10, 255, 10, 0.5);
  font-size: 2.5em;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transition: all 0.3s ease;
}

i.fas:hover{
font-size:3em;
}


.slider i.fa-arrow-circle-right {
  right: 2%;
}

.slider i.fa-arrow-circle-left {
  left: 2%;
}
